// This file was auto-generated by Fern from our API Definition.

import * as Insion from "./api/index.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { mergeAdditionalBodyParameters } from "./core/requestBody.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace InsionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InsionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InsionClient.Options>;

    constructor(options: InsionClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create or update a record and return its moderation result immediately.
     *
     * @param {Insion.ModerateRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.ForbiddenError}
     * @throws {@link Insion.ServiceUnavailableError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.moderateARecord({
     *         clientId: "clientId",
     *         name: "name",
     *         entity: "entity",
     *         content: "content"
     *     })
     */
    public moderateARecord(
        request: Insion.ModerateRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.ModerateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__moderateARecord(request, requestOptions));
    }

    private async __moderateARecord(
        request: Insion.ModerateRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.ModerateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/moderate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.ModerateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Insion.ForbiddenError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Insion.ServiceUnavailableError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/moderate");
    }

    /**
     * Create or update a content record for asynchronous moderation. Results are delivered through webhook events when moderation is performed.
     *
     * @param {Insion.IngestRecordRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.ForbiddenError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.ingestARecord({
     *         clientId: "clientId",
     *         name: "name",
     *         entity: "entity",
     *         content: "content"
     *     })
     */
    public ingestARecord(
        request: Insion.IngestRecordRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.IngestRecordResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ingestARecord(request, requestOptions));
    }

    private async __ingestARecord(
        request: Insion.IngestRecordRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.IngestRecordResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/ingest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.IngestRecordResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Insion.ForbiddenError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/ingest");
    }

    /**
     * Remove a record from the moderation system by its client ID.
     *
     * @param {Insion.DeleteApiV1IngestRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.NotFoundError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.deleteARecord({
     *         clientId: "clientId"
     *     })
     */
    public deleteARecord(
        request: Insion.DeleteApiV1IngestRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteARecord(request, requestOptions));
    }

    private async __deleteARecord(
        request: Insion.DeleteApiV1IngestRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.SuccessResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/ingest",
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Insion.NotFoundError(_response.error.body as Insion.ErrorResponse, _response.rawResponse);
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/ingest");
    }

    /**
     * Create or update a user without ingesting a record.
     *
     * @param {Insion.UserInput} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.ingestAUser({
     *         clientId: "clientId"
     *     })
     */
    public ingestAUser(
        request: Insion.UserInput,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.IngestUserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ingestAUser(request, requestOptions));
    }

    private async __ingestAUser(
        request: Insion.UserInput,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.IngestUserResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/ingest/user",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.IngestUserResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/ingest/user");
    }

    /**
     * List the records belonging to the authenticated organization.
     *
     * @param {Insion.GetApiV1RecordsRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.listRecords()
     */
    public listRecords(
        request: Insion.GetApiV1RecordsRequest = {},
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.ListRecordsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listRecords(request, requestOptions));
    }

    private async __listRecords(
        request: Insion.GetApiV1RecordsRequest = {},
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.ListRecordsResponse>> {
        const {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            clientId,
            user,
            entity,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            clientId,
            user,
            entity,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/records",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.ListRecordsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/records");
    }

    /**
     * Retrieve one record by its Insion record ID.
     *
     * @param {Insion.GetApiV1RecordsRecordIdRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.NotFoundError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.retrieveARecord({
     *         recordId: "recordId"
     *     })
     */
    public retrieveARecord(
        request: Insion.GetApiV1RecordsRecordIdRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.RecordResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveARecord(request, requestOptions));
    }

    private async __retrieveARecord(
        request: Insion.GetApiV1RecordsRecordIdRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.RecordResponse>> {
        const { recordId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                `api/v1/records/${core.url.encodePathParam(recordId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.RecordResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Insion.NotFoundError(_response.error.body as Insion.ErrorResponse, _response.rawResponse);
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/records/{recordId}");
    }

    /**
     * List the users belonging to the authenticated organization.
     *
     * @param {Insion.GetApiV1UsersRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.listUsers()
     */
    public listUsers(
        request: Insion.GetApiV1UsersRequest = {},
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.ListUsersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listUsers(request, requestOptions));
    }

    private async __listUsers(
        request: Insion.GetApiV1UsersRequest = {},
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.ListUsersResponse>> {
        const {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            clientId,
            email,
            status,
            user,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            clientId,
            email,
            status: status != null ? status : undefined,
            user,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                "api/v1/users",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.ListUsersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/users");
    }

    /**
     * Retrieve one user by its Insion user ID.
     *
     * @param {Insion.GetApiV1UsersUserIdRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.NotFoundError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.retrieveAUser({
     *         userId: "userId"
     *     })
     */
    public retrieveAUser(
        request: Insion.GetApiV1UsersUserIdRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.UserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveAUser(request, requestOptions));
    }

    private async __retrieveAUser(
        request: Insion.GetApiV1UsersUserIdRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.UserResponse>> {
        const { userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                `api/v1/users/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.UserResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Insion.NotFoundError(_response.error.body as Insion.ErrorResponse, _response.rawResponse);
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/users/{userId}");
    }

    /**
     * Create an appeal for a suspended user. Appeals must be enabled for the organization.
     *
     * @param {Insion.PostApiV1UsersUserIdCreateAppealRequest} request
     * @param {InsionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Insion.BadRequestError}
     * @throws {@link Insion.UnauthorizedError}
     * @throws {@link Insion.NotFoundError}
     * @throws {@link Insion.ConflictError}
     * @throws {@link Insion.InternalServerError}
     * @throws {@link errors.InsionError}
     * @throws {@link errors.InsionTimeoutError}
     *
     * @example
     *     await client.createAnAppeal({
     *         userId: "userId",
     *         text: "text"
     *     })
     */
    public createAnAppeal(
        request: Insion.PostApiV1UsersUserIdCreateAppealRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): core.HttpResponsePromise<Insion.CreateAppealResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createAnAppeal(request, requestOptions));
    }

    private async __createAnAppeal(
        request: Insion.PostApiV1UsersUserIdCreateAppealRequest,
        requestOptions?: InsionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Insion.CreateAppealResponse>> {
        const { userId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.InsionEnvironment.Default,
                `api/v1/users/${core.url.encodePathParam(userId)}/create_appeal`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Insion.CreateAppealResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Insion.BadRequestError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Insion.UnauthorizedError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Insion.NotFoundError(_response.error.body as Insion.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new Insion.ConflictError(_response.error.body as Insion.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new Insion.InternalServerError(
                        _response.error.body as Insion.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.InsionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/users/{userId}/create_appeal",
        );
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
                getAuthHeaders: async () => (await this._options.authProvider.getAuthRequest()).headers,
            },
            requestOptions,
        );
    }
}
